/.tmp.drivedownload
/.tmp.driveupload
/1e1Q7HvC1PkYWyac5eFYDHylZ3WVvLGp6.pdf
/Dissertacao MestradoPedroRibeiro.docx
/Dissertacao MestradoPedroRibeiro_revisto.docx
/Dissertacao MestradoPedroRibeiro_revistoV2.docx
/Dissertacao MestradoPedroRibeiro_revistoV3.docx
/Dissertacao MestradoPedroRibeiro_revistoV4.docx
/Final_Augmented_dataset_Diseases_and_Symptoms.csv
/Final_Augmented_dataset_Diseases_and_Symptoms_abreviado.gsheet
/Google Colab.pdf
/health_abreviado.csv
/Livro1.xlsx
/MaternalRisk (1).html
/MaternalRisk (1).pdf
/MaternalRisk.html
/MaternalRisk.pdf
/MaternalRisklime.ipynb
/METSW-ISLA-Template Dissertacao Mestrado.docx
/Novo Documento de Texto.csv
/prisma.html
/Proposta_de_Estrutura_e_Conteúdo_para_a_Dissertação.docx
/Proposta_de_Estrutura_e_Conteúdo_para_a_Dissertação_revisto.docx
/Proposta_de_Estrutura_e_Conteúdo_para_a_Dissertação_revisto_PP_Rev_JD_17_Out.docx
/Trabalho_Tese_Pedro_Com_Discussao.docx
/Trabalho_Tese_Pedro_Com_Problema_Revisto.docx
/Trabalho_Tese_Pedro_vFinal - Cópia.docx
/Trabalho_Tese_Pedro_vFinal.docx
*.docx